.draggable {
    cursor: move;
    user-select: none;
}


.draggable {
    display: flex;
    justify-content: space-between;
}

.not-draggable > button {
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}
